{% extends "admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="ec-content-wrapper">
        <div class="content">
            <div class="breadcrumb-wrapper breadcrumb-wrapper-2 breadcrumb-contacts">
                <h1>Main Category</h1>
                <p class="breadcrumbs"><span><a href="{%  url 'admin_dashboard' %}">Home</a></span>
                    <span><i class="mdi mdi-chevron-right"></i></span>Sub Category</p>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-12">
                    <div class="ec-cat-list card card-default mb-24px">
                        <div class="card-body">
                            <div class="ec-cat-form">
                                <h4>Add New Sub Category</h4>

                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="text" class="col-12 col-form-label">Name</label>
                                        <div class="col-12">

                                            {{ form.sub_category_name }}

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="text" class="col-12 col-form-label">Choose Main Category</label>
                                        <div class="col-12">

                                            {{ form.category }}

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="slug" class="col-12 col-form-label">Slug</label>
                                        <div class="col-12">
                                             {{ form.slug }}
                                            <small>The slug is the URL-friendly version of the name. It is usually all
                                                lowercase and contains only letters, numbers, and hyphens.</small>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-12">
                                            {{ form.description|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label">Category Image</label>
                                        <div class="col-12">
                                            {{ form.cat_sub_img }}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-12">
                                            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="ec-cat-list card card-default">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="responsive-data-table" class="table">
                                    <thead>
                                    <tr>
                                        <th>Sl no</th>
                                        <th>Thumb</th>
                                        <th>Sub Categories</th>
                                        <th>Main Category</th>
                                        <th>Description</th>
                                        {% comment %}  
													<th>Total Sell</th> {% endcomment %}

                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for category in page_obj %} {# Changed sub to page_obj #}
                                        <tr>
                                        {# Adjust counter to reflect current page number #}
                                        <td><span class="ec-sub-cat-count"
                                                  title="Total Sub Categories">{{ page_obj.start_index|add:forloop.counter0 }}</span></td>

                                        {% if category.cat_sub_img %}
                                            <td><img class="cat-thumb" src="{{ category.cat_sub_img.url }}"
                                                     alt="Product Image"/></td>
                                        {% else %}
                                            <td><img class="vendor-thumb"
                                                     src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
                                                     alt="user profile" height=40 width=40/></td>
                                        {% endif %}


                                        <td>
                                            <span class="ec-sub-cat-list">

                                               <span class="ec-sub-cat-tag">{{ category }}</span>
                                            </span>

                                        </td>
                                        <td>{{ category.category.category_name }}</td>
                                        <td>{{ category.description }}</td>

                                        <td>
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-outline-success">Info
                                                </button>
                                                <button type="button"
                                                        class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" data-display="static">
                                                    <span class="sr-only">Info</span>
                                                </button>

                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                       href="./sub_category_edit/{{ category.id }}">Edit</a>
                                                    <a class="dropdown-item"
                                                       href="./sub_category_delete/{{ category.id }}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% comment %} Pagination Controls {% endcomment %}
                            <nav aria-label="Page navigation example" class="mt-3">
                                <ul class="pagination justify-content-center">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                                        </li>
                                    {% endif %}

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% elif i == page_obj.paginator.page_range.0 or i == page_obj.paginator.page_range|last %}
                                             {# Always show first and last page numbers #}
                                             {% if i == page_obj.paginator.page_range.0 and page_obj.number > 4 %}
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                             {% endif %}
                                             <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                             {% if i == page_obj.paginator.page_range|last and page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                             {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% comment %} End Pagination Controls {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Content -->
    </div> <!-- End Content Wrapper -->
{% endblock %}
