{% extends "admin_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- CONTENT WRAPPER -->
    <div class="ec-content-wrapper">
        <div class="content">
            <!-- Top Statistics -->
            <div class="row">
                <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                    <div class="card card-mini dash-card card-1">
                        <div class="card-body">
                            <h2 class="mb-1 user-signins"></h2>
                            <h5 class="mb-1 signin-change"></h5>
                            <p>Daily Signins</p>
                            <span class="mdi mdi-account-arrow-left"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                    <div class="card card-mini dash-card card-2">
                        <div class="card-body">
                            <h2 class="mb-1 daily-signups"></h2>
                            <h5 class="mb-1 signup-change"></h5>
                            <p>Daily Signups</p>
                            <span class="mdi mdi-account-clock"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                    <div class="card card-mini dash-card card-3">
                        <div class="card-body">
                            <h2 class="mb-1 daily-order"></h2>
                            <h5 class="mb-1 order-change"></h5>
                            <p>Daily Order</p>
                            <span class="mdi mdi-package-variant"></span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 p-b-15 lbl-card">
                    <div class="card card-mini dash-card card-4">
                        <div class="card-body">
                            <h2 class="mb-1 daily-payment"></h2>
                            <h5 class="mb-1 total-order-change"></h5>
                            <p>Daily Revenue</p>
                            <span class="mdi mdi-currency-usd"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-md-12 p-b-15">
                    <!-- User activity statistics -->
                    <div class="card card-default h-100" id="user-activity">
                        <div class="no-gutters">
                            <div>
                                <div class="card-header justify-content-between">
                                    <h2>Order Details</h2>
                                    <div class="date-range-report">
                                        <input type="hidden" class="start_date" name="start_date">
                                        <input type="hidden" class="end_date" name="end_date">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content" id="userActivityContent">
                                        <div class="tab-pane fade show active" id="user" role="tabpanel">
                                            <canvas id="activity" class="chartjs"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex flex-wrap bg-white border-top">
                                    <div class="form-group row">
                                        <label for="order-time" class="col-12 col-form-label">Choose option</label>
                                        <select class="form-control form-control-sm" name="time" id="order-time">
                                            <option value="hour" selected>Hourly</option>
                                            <option value="day">Daily</option>
                                            <option value="month">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-md-12 p-b-15">
                    <!-- Doughnut Chart -->
                    <div class="card card-default" id="order-overview">
                        <div class="card-header justify-content-between">
                            <h2>Orders Overview</h2>
                            <div class="date-range-report">
                                <input type="hidden" class="start_date" name="start_date">
                                <input type="hidden" class="end_date" name="end_date">
                                <span></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="doChart"></canvas>
                        </div>
                        <a href="" id="order-overview-download"><span class="pb-5 d-block text-center text-muted"><i
                                class="mdi mdi-download mr-2"></i> Download overall report</span></a>

                        <div class="card-footer d-flex flex-wrap bg-white p-0">
                            <div class="col-6">
                                <div class="p-20">
                                    <ul class="d-flex flex-column justify-content-between">
                                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                            style="color:#80e1c1"></i>Accepted
                                        </li>
                                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                            style="color:#f3d676"></i>Ready to ship
                                        </li>
                                        <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                               style="color: #f2994a"></i> On shipping
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 border-left">
                                <div class="p-20">
                                    <ul class="d-flex flex-column justify-content-between">
                                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                            style="color: #4c84ff"></i>Delivered
                                        </li>
                                        <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                            style="color:#ff7b7b"></i>Canceled
                                        </li>
                                        <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                               style="color: #bb6bd9"></i>Return
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-md-12 p-b-15">
                    <!-- Sales Graph -->
                    <div id="user-acquisition" class="card card-default">
                        <div class="card-header justify-content-between">
                            <h2>User Events</h2>
                            <div class="date-range-report">
                                <input type="hidden" class="start_date" name="start_date">
                                <input type="hidden" class="end_date" name="end_date">
                                <span></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-style-border justify-content-between justify-content-lg-start border-bottom"
                                role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link todays" data-bs-toggle="tab" href="#todays" role="tab"
                                       aria-selected="true">Today's</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active monthly" data-bs-toggle="tab" href="#monthly" role="tab"
                                       aria-selected="false">Monthly </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link yearly" data-bs-toggle="tab" href="#yearly" role="tab"
                                       aria-selected="false">Yearly</a>
                                </li>
                            </ul>
                            <div class="tab-content pt-4" id="salesReport">
                                <div class="tab-pane fade show active" id="source-medium" role="tabpanel">
                                    <div class="mb-6" style="max-height:247px">
                                        <canvas id="acquisition" class="chartjs2"></canvas>
                                        <div id="acqLegend" class="customLegend mb-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex flex-lg-nowrap bg-white p-0">
                            <div class="col-12 pr-5 pl-5">
                                <div class="p-20">
                                    <ul class="d-flex flex-row justify-content-between align-items-center">
                                        <li class="mb-2 mr-4"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                                 style="color:rgb(52, 116, 212)"></i>View
                                        </li>
                                        <li class="mb-2 mr-4"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                                 style="color:rgb(255, 192, 203)"></i>Cart
                                        </li>
                                        <li class="mr-4"><i class="mdi mdi-checkbox-blank-circle-outline mr-2"
                                                            style="color:rgb(178, 251, 212)"></i>Payment
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12 p-b-15">
                    <div class="card card-default h-100" id="user-overview">
                        <div class="card-header justify-content-between">
                            <h2>Current Users</h2>
                            <div class="date-range-report">
                                <input type="hidden" class="start_date" name="start_date">
                                <input type="hidden" class="end_date" name="end_date">
                                <span></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="currentUser" class="chartjs"></canvas>
                        </div>
                        <div class="card-footer d-flex flex-wrap bg-white border-top">
                            <a href="#" class="text-uppercase py-3">In-Detail Overview</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-12 p-b-15">
                    <!-- World Chart -->
                    <div class="card card-default" id="analytics-country">
                        <div class="card-header justify-content-between">
                            <h2>Purchased by City</h2>
                            <div class="date-range-report">
                                <input type="hidden" class="start_date" name="start_date">
                                <input type="hidden" class="end_date" name="end_date">
                                <span></span>
                            </div>
                        </div>
                        <div class="card-body vector-map-world-2" style="height:550px;">
                            <div id="regions_purchase" style="height: 100%; width: 100%;"></div>
                        </div>
                        <div class="border-top mt-3">
                            <div class="row no-gutters">
                                <div class="col-lg-12">
                                    <div class="world-data-chart border-bottom pt-15px pb-15px">
                                        <canvas id="hbar1" class="chartjs"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex flex-wrap bg-white">
                            <a href="" class="text-uppercase py-3 purchase-by-city">Download Report</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12 p-b-15">
                    <div class="card card-default">
                        <div class="card-header card-header-border-bottom">
                            <h2>Import Status</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Folder Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="etl-folders">
                                        <tr>
                                            <td colspan="3" class="text-center">Loading folders...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End ETL Products Section -->
            </div>

            <div class="row">
                <div class="col-12 p-b-15">
                    <!-- Recent Order Table -->
                    <div class="card card-table-border-none card-default recent-orders" id="recent-orders">
                        <div class="card-header justify-content-between">
                            <h2>Recent Orders</h2>
                            <div class="date-range-report">
                                <input type="hidden" class="start_date" name="start_date">
                                <input type="hidden" class="end_date" name="end_date">
                                <span></span>
                            </div>
                        </div>
                        <div class="card-body pt-0 pb-5">
                            <table class="table card-table table-responsive table-responsive-large"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Product Name</th>
                                    <th class="d-none d-lg-table-cell">Order Date</th>
                                    <th class="d-none d-lg-table-cell">Order Cost</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href="#"> Coach Swagger</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">Oct 20, 2018</td>
                                    <td class="d-none d-lg-table-cell">$230</td>
                                    <td>
                                        <span class="badge badge-success">Completed</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                               role="button" id="dropdown-recent-order1"
                                               data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href="#"> Toddler Shoes, Gucci Watch</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">Nov 15, 2018</td>
                                    <td class="d-none d-lg-table-cell">$550</td>
                                    <td>
                                        <span class="badge badge-primary">Delayed</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                               role="button" id="dropdown-recent-order2"
                                               data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href="#"> Hat Black Suits</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">Nov 18, 2018</td>
                                    <td class="d-none d-lg-table-cell">$325</td>
                                    <td>
                                        <span class="badge badge-warning">On Hold</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                               role="button" id="dropdown-recent-order3"
                                               data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href="#"> Backpack Gents, Swimming Cap Slin</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">Dec 13, 2018</td>
                                    <td class="d-none d-lg-table-cell">$200</td>
                                    <td>
                                        <span class="badge badge-success">Completed</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                               role="button" id="dropdown-recent-order4"
                                               data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>24541</td>
                                    <td>
                                        <a class="text-dark" href="#"> Speed 500 Ignite</a>
                                    </td>
                                    <td class="d-none d-lg-table-cell">Dec 23, 2018</td>
                                    <td class="d-none d-lg-table-cell">$150</td>
                                    <td>
                                        <span class="badge badge-danger">Cancelled</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown show d-inline-block widget-dropdown">
                                            <a class="dropdown-toggle icon-burger-mini" href="#"
                                               role="button" id="dropdown-recent-order5"
                                               data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false" data-display="static"></a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li class="dropdown-item">
                                                    <a href="#">View</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="#">Remove</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-5">
                    <!-- New Customers -->
                    <div class="card ec-cust-card card-table-border-none card-default">
                        <div class="card-header justify-content-between ">
                            <h2>New Customers</h2>
                            <div>
                                <button class="text-black-50 mr-2 font-size-20">
                                    <i class="mdi mdi-cached"></i>
                                </button>
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                       id="dropdown-customar" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" data-display="static">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item"><a href="#">Action</a></li>
                                        <li class="dropdown-item"><a href="#">Another action</a></li>
                                        <li class="dropdown-item"><a href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0 pb-15px">
                            <table class="table ">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u1.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Selena
                                                        Wagner</h6>
                                                </a>
                                                <small>@selena.oi</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2 Orders</td>
                                    <td class="text-dark d-none d-md-block">$150</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u2.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Walter
                                                        Reuter</h6>
                                                </a>
                                                <small>@walter.me</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>5 Orders</td>
                                    <td class="text-dark d-none d-md-block">$200</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u3.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Larissa
                                                        Gebhardt</h6>
                                                </a>
                                                <small>@larissa.gb</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1 Order</td>
                                    <td class="text-dark d-none d-md-block">$50</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u4.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Albrecht
                                                        Straub</h6>
                                                </a>
                                                <small>@albrech.as</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2 Orders</td>
                                    <td class="text-dark d-none d-md-block">$100</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u5.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Leopold
                                                        Ebert</h6>
                                                </a>
                                                <small>@leopold.et</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1 Order</td>
                                    <td class="text-dark d-none d-md-block">$60</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-image mr-3 rounded-circle">
                                                <a href="profile.html"><img
                                                        class="profile-img rounded-circle w-45"
                                                        src="{% static 'adminapp/assets/img/user/u3.jpg' %}"
                                                        alt="customer image"></a>
                                            </div>
                                            <div class="media-body align-self-center">
                                                <a href="profile.html">
                                                    <h6 class="mt-0 text-dark font-weight-medium">Larissa
                                                        Gebhardt</h6>
                                                </a>
                                                <small>@larissa.gb</small>
                                            </div>
                                        </div>
                                    </td>
                                    <td>1 Order</td>
                                    <td class="text-dark d-none d-md-block">$50</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xl-7">
                    <!-- Top Products -->
                    <div class="card card-default ec-card-top-prod">
                        <div class="card-header justify-content-between">
                            <h2>Top Products</h2>
                            <div>
                                <button class="text-black-50 mr-2 font-size-20"><i
                                        class="mdi mdi-cached"></i></button>
                                <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                       id="dropdown-product" data-bs-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" data-display="static">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item"><a href="#">Update Data</a></li>
                                        <li class="dropdown-item"><a href="#">Detailed Log</a></li>
                                        <li class="dropdown-item"><a href="#">Statistics</a></li>
                                        <li class="dropdown-item"><a href="#">Clear Data</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body mt-10px mb-10px py-0">
                            <div class="row media d-flex pt-15px pb-15px">
                                <div
                                        class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                    <a href="#"><img src="{% static 'adminapp/assets/img/products/p1.jpg' %}"
                                                     alt="customer image"></a>
                                </div>
                                <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                    <a href="#">
                                        <h6 class="mb-10px text-dark font-weight-medium">Baby cotton shoes</h6>
                                    </a>
                                    <p class="float-md-right sale"><span class="mr-2">58</span>Sales</p>
                                    <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                        adds “swagger” to a simple.</p>
                                    <p class="mb-0 ec-price">
                                        <span class="text-dark">$520</span>
                                        <del>$580</del>
                                    </p>
                                </div>
                            </div>
                            <div class="row media d-flex pt-15px pb-15px">
                                <div
                                        class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                    <a href="#"><img src="{% static 'adminapp/assets/img/products/p2.jpg' %}"
                                                     alt="customer image"></a>
                                </div>
                                <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                    <a href="#">
                                        <h6 class="mb-10px text-dark font-weight-medium">Hoodies for men</h6>
                                    </a>
                                    <p class="float-md-right sale"><span class="mr-2">20</span>Sales</p>
                                    <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                        adds “swagger” to a simple.</p>
                                    <p class="mb-0 ec-price">
                                        <span class="text-dark">$250</span>
                                        <del>$300</del>
                                    </p>
                                </div>
                            </div>
                            <div class="row media d-flex pt-15px pb-15px">
                                <div
                                        class="col-lg-3 col-md-3 col-2 media-image align-self-center rounded">
                                    <a href="#"><img src="{% static 'adminapp/assets/img/products/p3.jpg' %}"
                                                     alt="customer image"></a>
                                </div>
                                <div class="col-lg-9 col-md-9 col-10 media-body align-self-center ec-pos">
                                    <a href="#">
                                        <h6 class="mb-10px text-dark font-weight-medium">Long slive t-shirt</h6>
                                    </a>
                                    <p class="float-md-right sale"><span class="mr-2">10</span>Sales</p>
                                    <p class="d-none d-md-block">Statement belting with double-turnlock hardware
                                        adds “swagger” to a simple.</p>
                                    <p class="mb-0 ec-price">
                                        <span class="text-dark">$480</span>
                                        <del>$654</del>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Import Confirmation Modal -->
        <div class="modal fade" id="importConfirmModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Import</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to import products from folder <span id="import-folder-name"></span> into the database?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="confirm-import">Confirm Import</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script src="{% static 'adminapp/assets/js/chart.js' %}"></script>
    <script src="{% static 'adminapp/assets/js/excel.js' %}"></script>
    <script>
        $(document).ready(function () {
            function getCSRFToken() {
                return $('meta[name="csrf-token"]').attr('content');
            }

            function update() {
                $.ajax({
                    type: "POST",
                    headers: {
                        'X-CSRFToken': getCSRFToken()
                    },
                    url: "{% url 'update_dash' %}",
                    dataType: 'json',
                    success: function (response) {
                        $('.user-signins').text(response.user_signins);
                        $('.daily-signups').text(response.daily_signups);
                        $('.daily-order').text(response.daily_order);
                        $('.daily-payment').text(response.daily_total_order);

                        updateIconAndText('.signin-change', response.signin_change);
                        updateIconAndText('.signup-change', response.signup_change);
                        updateIconAndText('.order-change', response.order_change);
                        updateIconAndText('.total-order-change', response.total_order_change);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                        console.log("Status: " + status);
                        console.log(xhr.responseText);
                    }
                });
            }

            function updateIconAndText(selector, change) {
                const element = $(selector);
                element.empty();  

                if (change > 0) {
                    element.append('<i class="mdi mdi-arrow-up-bold" style="color: green;"></i> ');
                } else if (change < 0) {
                    element.append('<i class="mdi mdi-arrow-down-bold" style="color: red;"></i> ');
                } else {
                    element.append('<i></i> ');
                }

                element.append(`${change}%`);
            }


            update();
            setTimeout(function () {
                update();
            }, 60000)
        })
    </script>
    <script>
        $(document).ready(function() {
            loadFolders();

            let currentFolder = null;

            $(document).on('click', '.import-btn', function() {
                currentFolder = $(this).data('folder');
                $('#import-folder-name').text(currentFolder);
                $('#importConfirmModal').modal('show');
            });

            $('#confirm-import').on('click', function() {
                if (currentFolder) {
                    importFolder(currentFolder);
                    $('#importConfirmModal').modal('hide');
                }
            });
        });

        function loadFolders() {
            $.ajax({
                url: '{% url "get_folders" %}',
                type: 'GET',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(response) {
                    if (response.folders && response.folders.length > 0) {
                        let html = '';

                        response.folders.forEach(folder => {
                            let statusBadge = '';
                            let actionBtn = '';

                            if (folder.imported) {
                                statusBadge = '<span class="badge badge-primary">Imported</span>';
                                actionBtn = '<button class="btn btn-sm btn-secondary" disabled>Imported</button>';
                            } else {
                                statusBadge = '<span class="badge badge-success">Ready to Import</span>';
                                actionBtn = `<button class="btn btn-sm btn-success import-btn" data-folder="${folder.name}">Import</button>`;
                            }

                            html += `
                                <tr>
                                    <td>${folder.name}</td>
                                    <td>${statusBadge}</td>
                                    <td>${actionBtn}</td>
                                </tr>
                            `;
                        });

                        $('#etl-folders').html(html);
                    } else {
                        $('#etl-folders').html('<tr><td colspan="3" class="text-center">No folders available</td></tr>');
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error loading folders:', error);
                    $('#etl-folders').html('<tr><td colspan="3" class="text-center text-danger">Failed to load folders</td></tr>');
                }
            });
        }

        function importFolder(folderName) {
            const folderRow = $(`.import-btn[data-folder="${folderName}"]`).closest('tr');
            const statusCell = folderRow.find('td:nth-child(2)');
            const actionCell = folderRow.find('td:nth-child(3)');

            statusCell.html('<span class="badge badge-warning">Importing...</span>');
            actionCell.html('<i class="mdi mdi-loading mdi-spin"></i> Processing...');

            $.ajax({
                url: '{% url "process_folder" %}',
                type: 'POST',
                data: JSON.stringify({ folder_name: folderName }),
                contentType: 'application/json',
                dataType: 'json',
                headers: {
                    'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
                },
                success: function(response) {
                    if (response.status === 'success') {
                        statusCell.html('<span class="badge badge-primary">Imported</span>');
                        actionCell.html('<button class="btn btn-sm btn-secondary" disabled>Imported</button>');
                        alert('Folder imported successfully');
                    } else {
                        statusCell.html('<span class="badge badge-danger">Failed</span>');
                        actionCell.html(`<button class="btn btn-sm btn-success import-btn" data-folder="${folderName}">Retry</button>`);
                        alert('Failed to import folder: ' + response.message);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('Error importing folder:', error);
                    statusCell.html('<span class="badge badge-danger">Failed</span>');
                    actionCell.html(`<button class="btn btn-sm btn-success import-btn" data-folder="${folderName}">Retry</button>`);
                    alert('Failed to import folder. Please try again.');
                }
            });
        }
    </script>
{% endblock %}
			